<h1>The Great Hall of Cheeses</h1>

<% @cheeses.each do |cheese| %>
      <h3>
        <a href='/cheeses/<%= cheese.id %>' class="cheese-link">
          <%= cheese.name %>
        </a>
      </h3>
  <% end %>
