<h1>The Great Hall of Cheeses</h1>

<ul>
<% @cheeses.each do |cheese| %>
      <li>
        <a href='/cheeses/<%= cheese.id %>' class="cheese-link">
          <%= cheese.name %>
        </a>
      </li>
  <% end %>
</ul>
